@import './variables';

body {
  background-color: $app-background-color;
  margin: 0;
  padding: 0;
  @include font-family();
}

.App {
  display: grid;
  grid-template-areas:
  'NavBar NoteDisplay'
  'NavBar MarkDownInput';
  color: $primary-color;
  width: 100vw;
  height: 100vh;
}
