$app-background-color: #1b1b1b;
$MarkDownInput-background-color: #4b4b4b;
$primary-color: #ffffff;
$secondary-color: #c70625;
$space: 10px;
$NavBar-border-size: 2px;

@mixin font-family {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
